- if @routing.batch_actions?
  = form_tag({ :action => "dispatch_batch" }) do
    .index-actions
      - if @routing.action_allowed? :new
        = link_to I18n.t("admin.actions.new"), { :action => "new" }, :class => "btn"
      = button_tag I18n.t("admin.actions.destroy"), :name => "batch_action", :value => "destroy", :id => nil, :class => "btn btn-danger"
- else
  .index-actions
    - if @routing.action_allowed? :new
      = link_to I18n.t("admin.actions.new"), { :action => "new" }, :class => "btn"

  = raw @table
  
= paginate @objects, :theme => "slashadmin_theme"
