= search_form_for @q, :html => { :class => "form-horizontal" } do |f|
  - @filters.each do |filter|
    .control-group
      = f.label "#{filter[:name]}_cont", filter[:label], :class => "control-label"
      .controls= f.text_field "#{filter[:name]}_cont"
  .form-actions
    = f.submit I18n.t('admin.actions.filter'), :name => nil, :class => "btn btn-primary"