= page_title "#{model_name.pluralize}"
= breadcrumbs

- if @filters.any?
  .row-fluid
    .span8= render :partial => "admin/index/content"
    .span4= render :partial => "admin/index/filters"
- else
  = render :partial => "admin/index/content"
