- breadcrumbs do |b|
  - b.trail I18n.t('admin.index.title', :model => model_name), :action => "index"
= page_title I18n.t('admin.show.title', :model => model_name, :id => @object.id)

.index-actions
  - if @routing.action_allowed? :edit
    = link_to I18n.t('admin.actions.edit'), { :action => "edit" }, :class => "btn"
  - if @routing.action_allowed? :destroy
    = link_to I18n.t('admin.actions.destroy'), @object, :method => :delete, :class => "btn btn-danger"
  = render_action_items

= @page
