!!!
%html
  %head
    %title
      = yield :title
      \::
      = brand
    = stylesheet_link_tag    "slashadmin/application", media: "all"
    = javascript_include_tag "slashadmin/application"
    = csrf_meta_tags
  %body
    .container-fluid
      .navbar
        .navbar-inner
          = link_to brand, brand_url, :class => "brand"
          = render :partial => "admin/menu_node", :locals => { :children => generate_menu[:children], :nav_attributes => { :class => "nav" } }
      .row-fluid
        -# TODO: sidebar
        .span12
          - if flash[:alert]
            %div.alert.alert-error
              = flash[:alert]
              %button.close{ "type" => "button", "data-dismiss" => "alert" } &times;
              
          - if flash[:notice]
            %div.alert.alert-success
              = flash[:notice]
              %button.close{ "type" => "button", "data-dismiss" => "alert" } &times;
              
          = yield
