!!!
%html
  %head
    %title
      = content_for :title
      \::
      = brand
    = stylesheet_link_tag    "slashadmin/application", media: "all"
    = javascript_include_tag "slashadmin/application"
    = csrf_meta_tags
  %body
    .container-fluid
      .navbar
        .navbar-inner
          %span.brand= brand
          = render :partial => "admin/menu_node", :locals => { :children => generate_menu[:children], :nav_attributes => { :class => "nav" } }
      .row-fluid
        -# TODO: sidebar
        .span12
          = yield
